@import '../../vars/vars';

.carouselContainer {
    position: relative;

    display: flex;
    justify-content: center;

    height: 100%;
}

.arrow {
    width: 32px;
    height: 32px;
    border-left: 3px solid $mid-gray;
    border-top: 3px solid $mid-gray;
    border-radius: 5px;
    z-index: 1000;

    cursor: pointer;

    &:hover {
        border-color: $primary;
    }
}

.leftArrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    rotate: -45deg;
}

.rightArrow {
    position: absolute;
    right: 0;

    top: 50%;
    transform: translateY(-50%);
    rotate: 135deg;
}

.paginationWrapper {
    position: absolute;
    z-index: 50;
    bottom: -10px !important;

    display: flex;
    justify-content: center;
}


//768
@media (max-width: 1919px) {

    .arrow {
        display: none;
    }

    .paginationWrapper {
        bottom: -20px !important;
    }
}