@import '../../vars/vars';


.main__about_item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .main__about_item_pic {
        height: 72px;
        width: 72px;
    }

    .main__about_item_wrapper {
        max-width: 280px;

        .main__about_item_title {
            color: $black;
            @include h6;
        }

        .main__about_item_text {
            color: $dark-gray;
            @include body_14;
        }
    }

    @media (max-width: 1919px) {
        flex-direction: row;
        justify-content: center;

    }
}