@import '../../vars/vars';

.container {
    padding: 80px;

    padding-left: calc(50% - 610px);
    padding-right: calc(50% - 610px);

    display: flex;
    flex-direction: column;
    gap: 80px;

    background-color: $white;
}

.container:nth-child(2n + 1) {
    background-color: $extra-light-gray;
}

.title {
    text-align: center;
    color: $black;
    @include h2;
}


//768
@media (max-width: 1919px) {
    .container {
        padding: 56px;
        padding-left: calc(50% - 364px);
        padding-right: calc(50% - 364px);
        gap: 40px;
    }

    .title {
        @include h4;
    }
}

//375
@media (max-width: 767px) {
    .container {
        padding: 56px;
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
        gap: 40px;
    }
}

//320
@media (max-width: 374px) {
    .container {
        padding: 56px;
        padding-left: calc(50% - 144px);
        padding-right: calc(50% - 144px);
        gap: 40px;
    }
}