@import '../../vars/vars';


.main__about {

    .main__about_title {
        color: $black;
        @include h2
    }

    .main__about_itemContainer {
        display: flex;
        gap: 32px;
    }

}


.secondContainer {
    position: relative;
    display: flex;
    gap: 32px;

    .secondContainer__item {
        position: relative;
        width: 592px;
        height: 448px;
        display: flex;


        .secondContainer__textContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;

            .secondContainer__title {
                color: $black;
                @include h3;
            }


            .secondContainer__descriptionContainer {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .secondContainer__descriptionItem {
                color: $dark-gray;
                @include body_16;
            }
        }


        .imageContainer {
            position: absolute;
            height: 100%;
            width: fit-content;
        }

        .frontImage {
            z-index: 2;
        }

        .backImage {
            z-index: 1;
        }

    }


}



//768
@media (max-width: 1919px) {
    .main__about {

        .main__about_itemContainer {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
        }
    }

    .secondContainer {
        justify-content: space-around;

        .secondContainer__item {
            width: 351px;
            height: 265px;

            .secondContainer__textContainer {

                .secondContainer__title {
                    @include h5;

                }


                .secondContainer__descriptionContainer {}

                .secondContainer__descriptionItem {}
            }
        }
    }
}


//375
@media (max-width: 767px) {
    .main__about {

        .main__about_itemContainer {
            display: flex;
            flex-direction: column;
        }
    }

    .secondContainer {
        display: flex;
        flex-direction: column-reverse;

        .secondContainer__item {
            width: 342px;
            height: 258px;

        }
    }
}

//320
@media (max-width: 374px) {

    .secondContainer {

        .secondContainer__item {
            width: 288px;
            height: 258px;

            .imageContainer {

                width: 100%;
            }

        }
    }
}