@import '../../vars/vars';

.item {
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 17px;

    .item__title {
        color: $black;
        @include body_18_bold;
    }

    .item__description {
        color: $black;
        @include body_16;
    }

    @media (max-width: 1919px) {
        gap: 46px;
    }
}