@import '../../vars/vars';

.expandItem {
    display: flex;

    border-top: 1px solid $extra-light-gray;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 24px 0;

    .expandTitle {
        color: $black;
        @include body_18_bold;

        display: flex;
        justify-content: space-between;
        align-items: center;


        cursor: pointer;

        &:hover {
            color: $primary;
            border-color: $primary;

            .customButton {
                border-color: $primary;

                .verticalLine,
                .horizontalLine {
                    background-color: $primary;
                }
            }
        }

    }

    .expandDescription {
        color: $dark-gray;
        @include body_18;
    }



}

.customButton {
    display: flex;
    flex-shrink: 0;
    gap: 10px;

    height: 24px;
    width: 24px;

    border: 2px solid $black;
    border-radius: 50%;

    background-color: $white;


    position: relative;

    .verticalLine {
        height: 60%;
        width: 2px;
        position: absolute;

        background-color: $black;
        border-radius: 2cqmin;
        top: 20%;
        left: calc(50% - 1px);

    }

    .horizontalLine {
        width: 60%;
        height: 2px;
        position: absolute;

        background-color: $black;
        border-radius: 2px;
        top: calc(50% - 1px);
        left: 20%;

    }


    transition:0.2s;
}

.activeStyle {
    rotate: 45deg;
}